<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
	<!-- user영역 -->
		<typeAlias type="com.mediaachive.animation.user.model.UserVO" alias="UserVO" />
		<typeAlias type="com.mediaachive.animation.user.model.UserDMI" alias="UserDMI" />
		<typeAlias type="com.mediaachive.animation.user.model.UserPARAM" alias="UserPARAM" />
			<!-- gallery영역 -->
		<typeAlias type="com.koreait.matzip.rest.model.RestVO" alias="RestVO" />
		<typeAlias type="com.koreait.matzip.rest.model.RestDMI" alias="RestDMI" />
		<typeAlias type="com.koreait.matzip.rest.model.RestPARAM" alias="RestPARAM" />
			<!-- Common 영역 -->
		<typeAlias type="com.koreait.matzip.rest.model.RestRecMenuVO" alias="RestRecMenuVO" />
		<typeAlias type="com.koreait.matzip.model.CodeVO" alias="CodeVO" />
		<typeAlias type="com.koreait.matzip.rest.model.RestFile" alias="RestFile" />
	</typeAliases>
</configuration>